@import "./base.scss";
@import "./mixins.scss";

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.container {
  @include set_w_h;
  padding: 10px;
  & > div {
    @include flex_center;
  }
}
